<% JSON.parse(@data).each do |expense| %>
  <p>
    <strong>Category:</strong> <%= expense['category'] %>
  <br /><strong><%= expense['date'] %></strong>: <%= expense['amount'] %></p>
  <hr />
<% end %>